<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="https://{{ original_domain }}">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="amphtml" href="https://{{ original_domain }}">
  <title>{{ title }} Elit Premium Yabancı {{ title }}lar ❤️</title>
    <link rel="icon" href="https://images2.imgbox.com/2a/77/5EuJD4gt_o.png">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

  <meta name="description" content="{{ title }} premium {{ title }} olarak sizlere daha iyi hizmet vermeye hazırdır. {{ title }} elit beyler için premium {{ title }}lar">
<!-- robots -->
<meta name="robots" content="index, follow">

<meta name="author" content="{{ title }}">

<link rel="publisher" href="https://{{ original_domain }}/robots.txt">

<meta name="language" content="English">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ title }} premium {{ title }} olarak sizlere daha iyi hizmet vermeye hazırdır. {{ title }} bilinirlik ve tecrübe için {{ title }}">
<meta name="twitter:image" content="https://images2.imgbox.com/2a/77/5EuJD4gt_o.png">
    <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
 <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "headline": "{{ title }}",
      "datePublished": "2023-06-10T00:00:00Z"
    }
  </script>
<body>
   <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <div class="align-center">
              <a class="navbar-brand" href="#"><h1>{{ title }}</h1></a>
          </div>

      </div>

  </nav>

  <div class="container mt-4">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="list-group">
          {% for backlink in backlinks %}
          <a href="https://{{ backlink.adi }}" target="_blank" class="list-group-item list-group-item-action">
            <div>
              <h5 class="mb-1">{{ backlink.meta_title }}</h5>
              <p class="mb-1">{{ backlink.meta_description }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      <!-- Blog Posts -->
      <div class="col-md-9">
        {% for blog in blogs %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ blog.title }}</h2>
            <p class="card-text">{{ blog.content}}</p>
            <p>
              <small class="text-muted">
                By: {{ blog.author }}Admin |
                Views: {{ blog.views }} |
                Created: {{ blog.olusturma_tarihi }}
              </small>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
